<html>
<meta charset="utf-8">
<head>
  <title>MTY Transit</title>
</head>
<body>
  <h1>MTY Transit</h1>
  <form>
    ¿Dónde estás?<br />
    <input type="text" name="origin"> <br /> <br />
    ¿A dónde quieres ir? <br />
    <input type="text" name="destination"> <br /> <br />
    <input type="submit" value="Siguiente">
  </form>
</body>
</html>
